.product {
  padding: 20px 50px;
  display: flex;
  gap: 50px;
}

.product .left {
  flex: 1;
  display: flex;
  gap: 20px;
}

.product .left .mainImg {
  flex: 5;
}

.product .left .mainImg img {
  width: 100%;
  max-height: 600px; /* 调小更适合常规屏幕 */
  object-fit: cover;
}

.product .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product .right .price {
  font-size: 30px;
  color: #2879fe;
  font-weight: 500;
}

.product .right p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.product .right .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}

.product .right .quantity button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product .right .add {
  height: 2.5rem;
  width: 12rem;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.product .right .favorite {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2879fe;
}

.product .right .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
  font-size: 1rem;
}
