.slider {
  height: calc(100vh - 80px);
  max-height: 600px;
  min-height: 300px;
  overflow: hidden;
}

/* 图片样式 */
.slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
